examples/2 - Get image from internet set quality.json
[{"id":"2f6c14c4.20d7ac","type":"jimp-image","z":"7e042678.495b18","name":"Get kitten from placekitten.com","data":"http://placekitten.com/300/300","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":210,"y":140,"wires":[["ecd4f27e.95f4e","35988a4c.359ee6","4a33dd27.b55f94"]]},{"id":"fcf9eba1.a04178","type":"inject","z":"7e042678.495b18","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":55,"y":140,"wires":[["2f6c14c4.20d7ac"]],"l":false},{"id":"ecd4f27e.95f4e","type":"jimp-image","z":"7e042678.495b18","name":"Set Quality 90%","data":"payload","dataType":"msg","ret":"img","parameter1":"90","parameter1Type":"num","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Usefull for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":460,"y":140,"wires":[["adcbeba5.133a28"]],"icon":"font-awesome/fa-image"},{"id":"35988a4c.359ee6","type":"jimp-image","z":"7e042678.495b18","name":"Set Quality 50%","data":"payload","dataType":"msg","ret":"img","parameter1":"50","parameter1Type":"num","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Usefull for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":460,"y":180,"wires":[["1d027cd.4ef5083"]],"icon":"font-awesome/fa-image"},{"id":"4a33dd27.b55f94","type":"jimp-image","z":"7e042678.495b18","name":"Set Quality 20%","data":"payload","dataType":"msg","ret":"img","parameter1":"20","parameter1Type":"num","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Usefull for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":460,"y":220,"wires":[["8cfc6642.42fbd8"]],"icon":"font-awesome/fa-image"},{"id":"adcbeba5.133a28","type":"jimp-image","z":"7e042678.495b18","name":"To file q90.jpg","data":"payload","dataType":"msg","ret":"buf","parameter1":"d:/temp/q70.jpg","parameter1Type":"str","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":640,"y":140,"wires":[["e61fe120.5a108"]],"icon":"font-awesome/fa-image"},{"id":"1d027cd.4ef5083","type":"jimp-image","z":"7e042678.495b18","name":"To file q50.jpg","data":"payload","dataType":"msg","ret":"buf","parameter1":"d:/temp/q50.jpg","parameter1Type":"str","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":640,"y":180,"wires":[["a4b71ac5.30e068"]],"icon":"font-awesome/fa-image"},{"id":"8cfc6642.42fbd8","type":"jimp-image","z":"7e042678.495b18","name":"To file q20.jpg","data":"payload","dataType":"msg","ret":"buf","parameter1":"d:/temp/q20.jpg","parameter1Type":"str","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":640,"y":220,"wires":[["a2abe52c.308608"]],"icon":"font-awesome/fa-image"},{"id":"2c0ce7c.62ebe18","type":"comment","z":"7e042678.495b18","name":"Get an image from HTTP, set quality to 90%, 50% and 20% and save to file","info":"","x":280,"y":100,"wires":[]},{"id":"e61fe120.5a108","type":"image viewer","z":"7e042678.495b18","name":"","width":"80","data":"payload","dataType":"msg","x":1010,"y":140,"wires":[[]]},{"id":"a4b71ac5.30e068","type":"image viewer","z":"7e042678.495b18","name":"","width":"80","data":"payload","dataType":"msg","x":910,"y":180,"wires":[[]]},{"id":"a2abe52c.308608","type":"image viewer","z":"7e042678.495b18","name":"","width":"80","data":"payload","dataType":"msg","x":810,"y":220,"wires":[[]]}]