examples/Generate barcodes.json
[{"id":"dac6eec4.6027","type":"Barcode Generator","z":"19edfd5e.e96e03","name":"","data":"payload","dataType":"msg","barcode":"datamatrix","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[{"p":"backgroundcolor","v":"ffffff","vt":"str"},{"p":"padding","v":"10","vt":"num"},{"p":"alttext","v":"Alt text","vt":"str"},{"p":"showborder","v":"true","vt":"bool"},{"p":"textsize","v":"5","vt":"num"},{"p":"textyalign","v":"bottom","vt":"str"},{"p":"textcolor","v":"ff4488","vt":"str"}],"x":1810,"y":460,"wires":[["4f7af97.72ddf08"]]},{"id":"8c35bb89.840158","type":"inject","z":"19edfd5e.e96e03","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"node-red-contrib-image-tools","payloadType":"str","x":930,"y":460,"wires":[["fd2d387b.58e998"]]},{"id":"aff9e1f2.6545e","type":"inject","z":"19edfd5e.e96e03","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"01023456","payloadType":"str","x":940,"y":500,"wires":[["fd2d387b.58e998"]]},{"id":"4f7af97.72ddf08","type":"image viewer","z":"19edfd5e.e96e03","name":"","width":"160","data":"payload","dataType":"msg","active":true,"x":1870,"y":560,"wires":[[]]},{"id":"fd2d387b.58e998","type":"change","z":"19edfd5e.e96e03","name":"blue bar with padding","rules":[{"t":"set","p":"options","pt":"msg","to":"{\"barcolor\":\"0000ff\",\"rotate\":\"N\",\"showborder\":true, \"padding\": 2}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":460,"wires":[["dac6eec4.6027","dd55a249.413d4","b4176c0b.65f06"]]},{"id":"dd55a249.413d4","type":"Barcode Generator","z":"19edfd5e.e96e03","name":"QRCODE","data":"payload","dataType":"msg","barcode":"qrcode","barcodeType":"barcode","options":"options","optionsType":"msg","sendProperty":"payload","props":[],"x":1560,"y":480,"wires":[["3fecb23f.e8834e"]]},{"id":"3fecb23f.e8834e","type":"image viewer","z":"19edfd5e.e96e03","name":"","width":"160","data":"payload","dataType":"msg","active":true,"x":1610,"y":560,"wires":[[]]},{"id":"44664f4e.79f68","type":"change","z":"19edfd5e.e96e03","name":"red on gray","rules":[{"t":"set","p":"options","pt":"msg","to":"{\"barcolor\":\"ff0000\",\"backgroundcolor\":\"dddddd\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":560,"wires":[["dac6eec4.6027","dd55a249.413d4","b4176c0b.65f06"]]},{"id":"3682b69a.da69ba","type":"inject","z":"19edfd5e.e96e03","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"node-red-contrib-image-tools","payloadType":"str","x":930,"y":560,"wires":[["44664f4e.79f68"]]},{"id":"68a5e435.19a34c","type":"inject","z":"19edfd5e.e96e03","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"01023456","payloadType":"str","x":940,"y":600,"wires":[["44664f4e.79f68"]]},{"id":"7e45ba41.474a04","type":"Barcode Generator","z":"19edfd5e.e96e03","name":"CODE128","data":"payload","dataType":"msg","barcode":"code128","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[{"p":"rotate","v":"L","vt":"str"},{"p":"alttext","v":"hello","vt":"str"},{"p":"showborder","v":"true","vt":"bool"},{"p":"padding","v":"1","vt":"num"},{"p":"backgroundcolor","v":"0000ff","vt":"str"},{"p":"textcolor","v":"00ff00","vt":"str"},{"p":"height","v":"8","vt":"num"}],"x":1550,"y":800,"wires":[["35f9736e.42a54c"]]},{"id":"fd00c7d7.c424c8","type":"inject","z":"19edfd5e.e96e03","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12345678","payloadType":"str","x":940,"y":800,"wires":[["7e45ba41.474a04","2b8651c7.d37bbe","f3eb8c34.b244d","ee2735eb.b90de8"]]},{"id":"35f9736e.42a54c","type":"image viewer","z":"19edfd5e.e96e03","name":"","width":"110","data":"payload","dataType":"msg","active":true,"x":1730,"y":800,"wires":[[]]},{"id":"2b8651c7.d37bbe","type":"Barcode Generator","z":"19edfd5e.e96e03","name":"CODE39","data":"payload","dataType":"msg","barcode":"code39","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[],"x":1220,"y":840,"wires":[["26490e71.45fec2"]]},{"id":"26490e71.45fec2","type":"image viewer","z":"19edfd5e.e96e03","name":"","width":"140","data":"payload","dataType":"msg","active":true,"x":1350,"y":840,"wires":[[]]},{"id":"228c0c5f.641df4","type":"image viewer","z":"19edfd5e.e96e03","name":"","width":"145","data":"payload","dataType":"msg","active":true,"x":1370,"y":1060,"wires":[[]]},{"id":"e2be616.cfa0ba","type":"Barcode Generator","z":"19edfd5e.e96e03","name":"CODABAR","data":"payload","dataType":"msg","barcode":"rationalizedCodabar","barcodeType":"barcode","options":"options","x":1510,"y":980,"wires":[["8e003545.c19278"]]},{"id":"8e003545.c19278","type":"image viewer","z":"19edfd5e.e96e03","name":"","width":"135","data":"payload","dataType":"msg","active":true,"x":1550,"y":1020,"wires":[[]]},{"id":"b4176c0b.65f06","type":"Barcode Generator","z":"19edfd5e.e96e03","name":"MAXICODE","data":"payload","dataType":"msg","barcode":"maxicode","barcodeType":"barcode","options":"options","optionsType":"msg","sendProperty":"payload","props":[],"x":1330,"y":500,"wires":[["5daf8cc8.8f27d4"]]},{"id":"5daf8cc8.8f27d4","type":"image viewer","z":"19edfd5e.e96e03","name":"","width":"160","data":"payload","dataType":"msg","active":true,"x":1370,"y":560,"wires":[[]]},{"id":"f3eb8c34.b244d","type":"change","z":"19edfd5e.e96e03","name":"(01)03412345678900|(17)010200","rules":[{"t":"set","p":"payload","pt":"msg","to":"(01)03412345678900|(17)010200","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1020,"wires":[["e81f2e8c.ced39"]]},{"id":"e81f2e8c.ced39","type":"Barcode Generator","z":"19edfd5e.e96e03","name":"","data":"payload","dataType":"msg","barcode":"databarstackedcomposite","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[{"p":"padding","v":"3","vt":"num"},{"p":"showborder","v":"true","vt":"bool"},{"p":"backgroundcolor","v":"eeeeee","vt":"str"}],"x":1190,"y":1060,"wires":[["228c0c5f.641df4"]]},{"id":"ee2735eb.b90de8","type":"change","z":"19edfd5e.e96e03","name":"A012345B","rules":[{"t":"set","p":"payload","pt":"msg","to":"A012345B","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":980,"wires":[["e2be616.cfa0ba"]]}]