examples/Get image from internet set quality.json
[{"id":"73ba2c5b.e8cc14","type":"image viewer","z":"b9a43aed.f09838","name":"","width":"200","data":"payload","dataType":"msg","active":true,"x":690,"y":520,"wires":[[]]},{"id":"96668799.c4d6d8","type":"jimp-image","z":"b9a43aed.f09838","name":"Kitten from placekitten.com","data":"http://placekitten.com/300/300","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":360,"y":440,"wires":[["c5e8a28a.a595","8e78ece9.dc40e","3345c0bd.6d40e"]]},{"id":"16bbdba9.a15f64","type":"inject","z":"b9a43aed.f09838","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":215,"y":440,"wires":[["96668799.c4d6d8"]],"l":false},{"id":"c5e8a28a.a595","type":"jimp-image","z":"b9a43aed.f09838","name":"Set Quality 90%","data":"payload","dataType":"msg","ret":"img","parameter1":"90","parameter1Type":"num","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Useful for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":320,"y":500,"wires":[["a3e564da.ffe998"]],"icon":"font-awesome/fa-image"},{"id":"8e78ece9.dc40e","type":"jimp-image","z":"b9a43aed.f09838","name":"Set Quality 50%","data":"payload","dataType":"msg","ret":"img","parameter1":"50","parameter1Type":"num","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Usefull for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":320,"y":540,"wires":[["73ba2c5b.e8cc14"]],"icon":"font-awesome/fa-image"},{"id":"3345c0bd.6d40e","type":"jimp-image","z":"b9a43aed.f09838","name":"Set Quality 5%","data":"payload","dataType":"msg","ret":"b64","parameter1":"5","parameter1Type":"num","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Useful for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":320,"y":580,"wires":[["4c9eed3a.36fc24"]],"icon":"font-awesome/fa-image"},{"id":"fdf12481.9abb58","type":"comment","z":"b9a43aed.f09838","name":"Demonstrate getting an image from HTTP & setting quality to 90%, 50% and 5%.  Useful for downsampling & saving to file","info":"","x":590,"y":400,"wires":[]},{"id":"a3e564da.ffe998","type":"image viewer","z":"b9a43aed.f09838","name":"","width":"200","data":"payload","dataType":"msg","active":true,"x":890,"y":460,"wires":[[]]},{"id":"4c9eed3a.36fc24","type":"image viewer","z":"b9a43aed.f09838","name":"","width":"200","data":"payload","dataType":"msg","active":true,"x":490,"y":580,"wires":[[]]}]