examples/Get image from internet set quality and save.json
[{"id":"dd0005ff.9274f8","type":"jimp-image","z":"497d9aaa.2cc934","name":"Get kitten from placekitten.com","data":"http://placekitten.com/300/300","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":230,"y":260,"wires":[["c4062cf3.ebef","28d80ada.174db6","10f25f55.b2e861"]]},{"id":"faec503d.0027e","type":"inject","z":"497d9aaa.2cc934","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":260,"wires":[["dd0005ff.9274f8"]],"l":false},{"id":"c4062cf3.ebef","type":"jimp-image","z":"497d9aaa.2cc934","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"90","parameter1Type":"num","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Usefull for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":510,"y":260,"wires":[["7a078846.bbbf38"]],"icon":"font-awesome/fa-image"},{"id":"28d80ada.174db6","type":"jimp-image","z":"497d9aaa.2cc934","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"50","parameter1Type":"num","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Usefull for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":510,"y":300,"wires":[["924be581.965108"]],"icon":"font-awesome/fa-image"},{"id":"10f25f55.b2e861","type":"jimp-image","z":"497d9aaa.2cc934","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"20","parameter1Type":"num","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Usefull for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":510,"y":340,"wires":[["990d3037.d08a4"]],"icon":"font-awesome/fa-image"},{"id":"7a078846.bbbf38","type":"jimp-image","z":"497d9aaa.2cc934","name":"q90.jpg","data":"payload","dataType":"msg","ret":"buf","parameter1":"d:/temp/q70.jpg","parameter1Type":"str","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":640,"y":260,"wires":[["4856495f.3ff788"]],"icon":"font-awesome/fa-image"},{"id":"924be581.965108","type":"jimp-image","z":"497d9aaa.2cc934","name":"q50.jpg","data":"payload","dataType":"msg","ret":"buf","parameter1":"d:/temp/q50.jpg","parameter1Type":"str","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":640,"y":300,"wires":[["b22ea9aa.19fef8"]],"icon":"font-awesome/fa-image"},{"id":"990d3037.d08a4","type":"jimp-image","z":"497d9aaa.2cc934","name":"q20.jpg","data":"payload","dataType":"msg","ret":"buf","parameter1":"d:/temp/q20.jpg","parameter1Type":"str","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":640,"y":340,"wires":[["7e50c108.d2691"]],"icon":"font-awesome/fa-image"},{"id":"4856495f.3ff788","type":"image","z":"497d9aaa.2cc934","name":"","width":"200","x":1220,"y":260,"wires":[]},{"id":"b22ea9aa.19fef8","type":"image","z":"497d9aaa.2cc934","name":"","width":"200","x":1020,"y":300,"wires":[]},{"id":"7e50c108.d2691","type":"image","z":"497d9aaa.2cc934","name":"","width":"200","x":820,"y":340,"wires":[]},{"id":"e724b9ff.e3d358","type":"comment","z":"497d9aaa.2cc934","name":"Get an image from HTTP, set quality to 90%, 50% and 20% and save to file","info":"","x":300,"y":220,"wires":[]}]