examples/Get image from internet set quality.json
[{"id":"d832532f.8d778","type":"jimp-image","z":"9e31d42f.141bb8","name":"Kitten from placekitten.com","data":"http://placekitten.com/300/300","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":220,"y":120,"wires":[["56543722.2cb8b8","9d15bbac.2f3df8","9a16f2a3.14206"]]},{"id":"1ea7813a.b240ff","type":"inject","z":"9e31d42f.141bb8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":120,"wires":[["d832532f.8d778"]],"l":false},{"id":"56543722.2cb8b8","type":"jimp-image","z":"9e31d42f.141bb8","name":"Set Quality 90%","data":"payload","dataType":"msg","ret":"img","parameter1":"90","parameter1Type":"num","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Usefull for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":180,"y":180,"wires":[["62a3df7c.45174"]],"icon":"font-awesome/fa-image"},{"id":"9d15bbac.2f3df8","type":"jimp-image","z":"9e31d42f.141bb8","name":"Set Quality 50%","data":"payload","dataType":"msg","ret":"img","parameter1":"50","parameter1Type":"num","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Usefull for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":180,"y":220,"wires":[["70bb9c6e.85f014"]],"icon":"font-awesome/fa-image"},{"id":"9a16f2a3.14206","type":"jimp-image","z":"9e31d42f.141bb8","name":"Set Quality 10%","data":"payload","dataType":"msg","ret":"b64","parameter1":"20","parameter1Type":"num","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Usefull for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":180,"y":260,"wires":[["3959f057.4a1ab"]],"icon":"font-awesome/fa-image"},{"id":"24e335f3.195caa","type":"comment","z":"9e31d42f.141bb8","name":"Get an image from HTTP, set quality to 90%, 50% and 20% and save to file","info":"","x":300,"y":80,"wires":[]},{"id":"62a3df7c.45174","type":"image viewer","z":"9e31d42f.141bb8","name":"","width":"158","data":"payload","dataType":"msg","x":690,"y":140,"wires":[[]]},{"id":"70bb9c6e.85f014","type":"image viewer","z":"9e31d42f.141bb8","name":"","width":"158","data":"payload","dataType":"msg","x":530,"y":180,"wires":[[]]},{"id":"3959f057.4a1ab","type":"image viewer","z":"9e31d42f.141bb8","name":"","width":"158","data":"payload","dataType":"msg","x":370,"y":220,"wires":[[]]}]