examples/Long text.json
[{"id":"e0357ec7.4280f","type":"inject","z":"c6dc7a8e.4e4518","name":"blank image","topic":"","payload":"{\"w\":320,\"h\":220,\"background\":\"#aaaaff\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["4a171658.d44518","f660db34.b733a8","c3a7b38c.52c78"]]},{"id":"f660db34.b733a8","type":"jimp-image","z":"c6dc7a8e.4e4518","name":"Batch print texts","data":"payload","dataType":"msg","ret":"img","parameter1":"[{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_BLACK\",10,0,{\"text\":\"Text line 1\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_LEFT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_WHITE\",10,20,{\"text\":\"Text line 2\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_LEFT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_BLACK\",10,40,{\"text\":\"Text line 3\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_LEFT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_WHITE\",10,60,{\"text\":\"Text line 4\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_LEFT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_BLACK\",10,80,{\"text\":\"Text line 5\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_LEFT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_WHITE\",10,100,{\"text\":\"Text line 6\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_LEFT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_BLACK\",10,120,{\"text\":\"Text line 7\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_LEFT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_WHITE\",10,140,{\"text\":\"Text line 8\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_LEFT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_WHITE\",10,0,{\"text\":\"Another text line 1\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_RIGHT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_BLACK\",10,20,{\"text\":\"Another text line 2\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_RIGHT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_WHITE\",10,40,{\"text\":\"Another text line 3\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_RIGHT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_BLACK\",10,60,{\"text\":\"Another text line 4\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_RIGHT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_WHITE\",10,80,{\"text\":\"Another text line 5\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_RIGHT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_BLACK\",10,100,{\"text\":\"Another text line 6\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_RIGHT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_WHITE\",10,120,{\"text\":\"Another text line 7\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_RIGHT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_16_BLACK\",10,140,{\"text\":\"Another text line 8\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_RIGHT\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]}]","parameter1Type":"json","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"Text line 1","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_LEFT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"","parameter7Type":"auto","parameter8":"","parameter8Type":"auto","parameterCount":1,"jimpFunction":"batch","selectedJimpFunction":{"name":"batch","fn":"batch","description":"apply one or more functions","parameters":[{"name":"options","type":"json","required":true,"hint":"an object or an array of objects containing {\"name\" : \"function_name\", \"parameters\" : [x,y,z]}.  Refer to info on side panel}"}]},"x":440,"y":200,"wires":[["f3cc5dcb.4019f"]],"icon":"font-awesome/fa-image"},{"id":"f3cc5dcb.4019f","type":"image viewer","z":"c6dc7a8e.4e4518","name":"","width":"300","data":"payload","dataType":"msg","x":590,"y":200,"wires":[[]]},{"id":"c3a7b38c.52c78","type":"jimp-image","z":"c6dc7a8e.4e4518","name":"Line breaks (\\r or \\n)","data":"payload","dataType":"msg","ret":"b64","parameter1":"FONT_SANS_12_BLACK","parameter1Type":"jimpFont","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"This is a long text that should wrap when it reaches the edge - a new line next\\r\\nThis is a long text that should wrap when - 2 new lines next\\n\\nit reaches the edge. - 3 new lines next\\n\\n\\nThis is a long text that should wrap when it reaches the edge. This is a long text that should wrap when it reaches the edge. This is a long text that should wrap when it reaches the edge. This is a long text that should wrap when it reaches the edge.","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_LEFT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"","parameter7Type":"auto","parameter8":"","parameter8Type":"auto","parameterCount":8,"jimpFunction":"print2","selectedJimpFunction":{"name":"print aligned","fn":"print","description":"Print text to the image","parameters":[{"name":"font|str","type":"jimpFont","required":true,"hint":"font to print. NOTE: This can be one of the presets or the path to a fnt file"},{"name":"x","type":"num","required":true,"hint":"x coordinate to print text"},{"name":"y","type":"num","required":true,"hint":"y coordinate to print text"},{"name":"text","group":"options","type":"str","required":true,"hint":"text to print"},{"name":"alignmentX","group":"options","type":"AlignX","required":false,"hint":"X Alignment"},{"name":"alignmentY","group":"options","type":"AlignY","required":false,"hint":"Y Alignment"},{"name":"maxWidth","type":"auto|num","required":false,"hint":"wrap text at maxWidth"},{"name":"maxHeight","type":"auto|num","required":false,"hint":""}]},"x":740,"y":140,"wires":[["343cd409.7a07bc"]],"icon":"font-awesome/fa-image"},{"id":"343cd409.7a07bc","type":"image viewer","z":"c6dc7a8e.4e4518","name":"","width":"300","data":"payload","dataType":"msg","x":930,"y":140,"wires":[[]]},{"id":"4a171658.d44518","type":"jimp-image","z":"c6dc7a8e.4e4518","name":"3D effect text (Batch mode)","data":"payload","dataType":"msg","ret":"img","parameter1":"[{\"name\":\"print\",\"parameters\":[\"FONT_SANS_64_BLACK\",2,2,{\"text\":\"Text line 1\\nText line 2\\nText line 3\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_CENTER\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]},{\"name\":\"print\",\"parameters\":[\"FONT_SANS_64_WHITE\",0,0,{\"text\":\"Text line 1\\nText line 2\\nText line 3\",\"alignmentX\":\"Jimp.HORIZONTAL_ALIGN_CENTER\",\"alignmentY\":\"Jimp.VERTICAL_ALIGN_TOP\"},-1,-1]}]","parameter1Type":"json","parameter2":"0","parameter2Type":"num","parameter3":"0","parameter3Type":"num","parameter4":"Text line 1","parameter4Type":"str","parameter5":"HORIZONTAL_ALIGN_LEFT","parameter5Type":"AlignX","parameter6":"VERTICAL_ALIGN_TOP","parameter6Type":"AlignY","parameter7":"","parameter7Type":"auto","parameter8":"","parameter8Type":"auto","parameterCount":1,"jimpFunction":"batch","selectedJimpFunction":{"name":"batch","fn":"batch","description":"apply one or more functions","parameters":[{"name":"options","type":"json","required":true,"hint":"an object or an array of objects containing {\"name\" : \"function_name\", \"parameters\" : [x,y,z]}.  Refer to info on side panel}"}]},"x":200,"y":260,"wires":[["5d932ff0.7427"]],"icon":"font-awesome/fa-image"},{"id":"5d932ff0.7427","type":"image viewer","z":"c6dc7a8e.4e4518","name":"","width":"300","data":"payload","dataType":"msg","x":250,"y":300,"wires":[[]]}]